.services {
    width: 100%;
    min-height: calc(100vh - 71px);
    background-color: #405d78;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.services_heading {
    width: 100%;
    max-width: 950px;
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    padding: 50px 0;
    display: flex;
    justify-content: center;
}

.services_options {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 50px;
}
