.box {
    box-sizing: border-box;
    font-size: 24px;
    display: grid;
    background-color: #ffffff;
    width: 198px;
    height: 193px;
    margin: 20px;
    align-content: center;
    justify-content: center;
    word-break: break-all;
    padding: 8px;
    text-align: center;
    position: relative;
    transition: 1s;
  }
  
  .box:hover {
    transform: scale(1.05);
  }
  
  .box_description {
    font-size: 18px;
  }
  
  .dot {
    left: -10px;
    top: -10px;
    height: 25px;
    width: 25px;
    background-color: #e07a64;
    border-radius: 50%;
    position: absolute;
  }
  