html {
  scroll-behavior: smooth;
}

.body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  max-width: 960px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: #ffffff;
  color: black;
}

.link {
  color: #ffffff;
  text-decoration: none;
  display: block;
}

a:hover {
  color: black;
}
