.nav {
  height: 50px;
  width: 100%;
  background-color: #4e4e4e;
  font-size: 18px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_left {
  width: 50%;
  display: flex;
  align-items: center;
}

.significant_text {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
}

.nav_right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: right;
}

.link_nav {
  margin-right: 15px;
  color: #ffffff;
  text-decoration: none;
}

.not_allowed {
  cursor: not-allowed;
}

.disabled {
  opacity: 0.6;
}
