body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (max-width: 1024px) {
  .container {
    width: 100%;
    max-width: none;
    padding: 0 10px;
  }

  .services_heading {
    width: 100%;
    font-size: 28px;
    text-align: center;
  }

  .services_options {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .expert_section {
    flex-wrap: wrap;
    text-align: center;
  }

  .experts_photo {
    width: 150px;
    height: 150px;
  }

  .footer .container {
    flex-direction: column;
    text-align: center;
  }

  .footer_right, .footer_left {
    width: 100%;
  }
}
